

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
html{
  scroll-behavior: smooth;
}
body {
  /* font-family: "poppins", sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #646F87; 
background-color: rgba(17, 17, 17);}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
p{
  color:#fff !important;
}
.navbar-brand{
  color: #fff !important;

}
.navbg.scrolled{
  background-color: rgb(18, 8, 8);
  transition: 1s;
}
.navbar-nav a {
font-family: poppins;
font-size: 18px;
text-transform: uppercase;
font-weight: bold;
color:#fff !important;
}
.navbar-light .navbar-brand {
color: #fff;
font-size: 25px;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
color: #fff;
}
.navbar-light .navbar-nav .nav-link {
color: #fff;
}
.navbar-nav {
text-align: center;
}
.nav-link {
padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
color: #fff;
}
.navbar-toggler {
padding: 1px 5px;
font-size: 18px;
line-height: 0.3;
background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
color: #fff;
}
.w-100 {
height: 100vh;
}
nav a{
  position: relative;
  margin-right:4%;
}
.nav-link::after{
  content:"";
  position:absolute;
  background-color: #df1e1e;
  height: 3px;
  width:0;
  left: 7px;
  bottom:-4px;
  transition: 0.4s;
  border-radius: 20%;
}
.nav-link:hover::after{
  width: 90%;
}
@media only screen and (max-width: 767px) {
.navbar-nav.ml-auto {
  background: rgba(0, 0, 0, 0.5);
}
.navbar-nav a {
  font-size: 14px;
  font-weight: normal;
}
}
img {
  max-width: 100%; }

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a {
  color: #00A78E; }

a:focus,
a:hover {
  text-decoration: none; }

i,
span,
a {
  display: inline-block; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #293651;
  margin: 0px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #646F87;
  margin: 0px; }

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 40px;
  font-size: 16px;
  line-height: 55px;
  height: 55px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-color: #00A78E; }
  @media (max-width: 767px) {
    .main-btn {
      padding: 0 30px;
      height: 45px;
      line-height: 45px; } }
  .main-btn:hover {
    background-color: rgba(0, 167, 142, 0.7);
    color: #fff; }
  .main-btn.main-btn-2 {
    background-color: transparent;
    color: #646F87;
    border: 2px solid #646F87;
    line-height: 51px; }
    @media (max-width: 767px) {
      .main-btn.main-btn-2 {
        line-height: 41px; } }
    .main-btn.main-btn-2:hover {
      background-color: rgba(100, 111, 135, 0.2);
      color: #646F87; }

/*===== All Section Title Style =====*/
.section_title .sub_title {
  font-size: 20px;
  font-weight: 600;
  color:#EFEFEF; }
  @media (max-width: 767px) {
    .section_title .sub_title {
      font-size: 16px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .section_title .sub_title {
      font-size: 18px; } }
.section_title .main_title {
  color:#df1e1e;
  font-size: 35px;
  font-weight: 600;
  margin-top: 20px; }
  @media (max-width: 767px) {
    .section_title .main_title {
      font-size: 22px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .section_title .main_title {
      font-size: 26px; } }
.section_title .line {
  padding-top: 10px; }
  .section_title .line li {
    display: inline-block;
    background-color: firebrick;
    border-radius: 50px;
    height: 3px; }
    .section_title .line li:nth-of-type(1) {
      width: 64px; }
    .section_title .line li:nth-of-type(2) {
      width: 10px; }
    .section_title .line li:nth-of-type(3) {
      width: 7px; }



/*===== HEADER HERO =====*/
.header_hero {
  position: relative;
  z-index: 5;
  background-position: bottom center;
  background-color: rgba(17, 17, 17);
  overflow: hidden;
  padding-top: 70px; }

.header_social {
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid rgba(0, 167, 142, 0.21);
  border-radius: 50px; }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .header_social {
      left: 20px; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header_social {
      left: 20px; } }
  .header_social li a {
    font-size: 18px;
    padding: 20px 15px;
    color: rgba(100, 111, 135, 0.58);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
      .header_social li a {
        padding: 10px 10px;
        font-size: 16px; } }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .header_social li a {
        padding: 10px 10px;
        font-size: 16px; } }
    .header_social li a:hover {
      color: #00A78E; }

.header_hero_shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: -1; }
  .header_hero_shape::before {
    position: absolute;
    content: '';
    width: 1000%;
    height: 100%;
    background-color: rgba(17, 17, 17);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    top: 0;
    left: 0; }

.header_hero_content .header_sub_title {
  font-size: 30px;
  font-weight: 600;
  color: #00A78E;
  letter-spacing: 4px; }
  @media (max-width: 767px) {
    .header_hero_content .header_sub_title {
      font-size: 24px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .header_hero_content .header_sub_title {
      font-size: 30px; } }
.header_hero_content .header_title {
  font-size: 50px;
  font-weight: 700;
  color: #293651;
  margin-top: 20px; }
  @media (max-width: 767px) {
    .header_hero_content .header_title {
      font-size: 24px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .header_hero_content .header_title {
      font-size: 30px; } }
.header_hero_content span {
  font-size: 18px;
  font-weight: 500;
  color: #293651;
  margin-top: 15px; }
.header_hero_content p {
  margin-top: 15px; }
.header_hero_content .main-btn {
  margin-top: 30px; }

.header_hero_image img {
  width: 100%; }

/*===========================
        03.ABOUT css 
===========================*/
.about_area{
  background:rgb(17,17,17)
}
.about_image {
  position: relative; }
  .about_image img {
    width: 100%; }
  .about_image .about_shape {
    width: 404px;
    height: 525px;
    border-left: 15px solid #00A78E;
    border-bottom: 15px solid #00A78E;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1; }
    @media (max-width: 767px) {
      .about_image .about_shape {
        width: 100%;
        height: 380px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .about_image .about_shape {
        width: 404px;
        height: 525px; } }
    .about_image .about_shape::before {
      position: absolute;
      content: '';
      width: 15px;
      height: 85%;
      background-color: #00A78E;
      bottom: 0;
      right: 0; }
    .about_image .about_shape::after {
      position: absolute;
      content: '';
      width: 104%;
      height: 15px;
      background-color: #00A78E;
      top: 36px;
      right: -2px;
      -webkit-transform: rotate(11deg);
      -moz-transform: rotate(11deg);
      -ms-transform: rotate(11deg);
      -o-transform: rotate(11deg);
      transform: rotate(11deg);
      border-top-left-radius: 20px; }
      @media (max-width: 767px) {
        .about_image .about_shape::after {
          top: 27px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .about_image .about_shape::after {
          top: 37px; } }

.about_content p {
  margin-top: 10px; }

.skill_item .skill_header {
  position: relative; }
  .skill_item .skill_header .skill_title {
    color:#fff;
    font-size: 14px;
    font-weight: 500; }
  .skill_item .skill_header .skill_percentage {
    position: absolute;
    top: -3px;
    right: 0; }
    .skill_item .skill_header .skill_percentage p {
      font-size: 14px;
      font-weight: 400; }
.skill_item .skill_bar {
  margin-top: 15px; }
  .skill_item .skill_bar .bar_inner {
    width: 100%;
    height: 9px;
    border-radius: 5px;
    background-color: rgba(100, 111, 135, 0.11);
    position: relative; }
    .skill_item .skill_bar .bar_inner .progress_line {
      position: absolute;
      top: 0;
      left: 0;
      height: 9px;
      border-radius: 5px;
      background-color: firebrick;
      -webkit-transition: all 2s ease-out 0s;
      -moz-transition: all 2s ease-out 0s;
      -ms-transition: all 2s ease-out 0s;
      -o-transition: all 2s ease-out 0s;
      transition: all 2s ease-out 0s;
      width: 0; }
      .skill_item .skill_bar .bar_inner .progress_line::before {
        position: absolute;
        content: '';
        width: 7px;
        height: 18px;
        background-color: #fff;
        border: 2px solid #00A78E;
        top: -5px;
        right: 0; }

/*===========================
       04.SERVICE css 
===========================*/
.services_area {
  background-color: rgba(17, 17, 17); }

.single_service {
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.3);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background-color: rgba(17, 17, 17); }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .single_service {
      padding: 20px; } }
  .single_service .service_icon i {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 46px;
    background-color: #2d0808;
    color: #fff;
    border-radius: 25px;
    border-bottom-right-radius: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .single_service .service_icon i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 36px; } }
  .single_service .service_content {
    margin-top: 25px; }
    .single_service .service_content .service_title a {
      font-size: 22px;
      font-weight: 600;
      color: #A13333;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .single_service .service_content .service_title a {
          font-size: 18px; } }
    .single_service .service_content p {
      margin-top: 20px;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
  .single_service:hover {
    background-color:#2d0808; }
    .single_service:hover .service_icon i {
      background-color: #fff;
      color: #00A78E; }
    .single_service:hover .service_content .service_title a {
      color: #fff; }
    .single_service:hover .service_content p {
      color: #fff; }

/*===========================
/*===========================
      11.FOOTER css 
===========================*/
footer{
  background-color: rgb(17,17,17) !important;
}
.footer_content .footer_social {
  margin-top: 45px; }
  .footer_content .footer_social li {
    display: inline-block;
    margin: 0 10px; }
    .footer_content .footer_social li a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      font-size: 18px;
      color: #646F87;
      background-color: rgba(41, 54, 81, 0.07);
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
      .footer_content .footer_social li a:hover {
        color: #00A78E; }
.footer_content .email {
  font-size: 44px;
  font-weight: 600;
  color: #A13333;
  margin-top: 10px; }
  @media (max-width: 767px) {
    .footer_content .email {
      font-size: 20px;
      margin-top: 25px; } }
.footer_content .footer_menu {
  padding-top: 20px; }
  .footer_content .footer_menu li {
    display: inline-block;
    margin: 10px 20px 0; }
    @media (max-width: 767px) {
      .footer_content .footer_menu li {
        margin: 10px 12px 0; } }
    .footer_content .footer_menu li a {
      font-size: 16px;
      font-weight: 900;
      color: #EFEFEF; }
      @media (max-width: 767px) {
        .footer_content .footer_menu li a {
          font-size: 15px; } }

/*# sourceMappingURL=style.css.map */
